
<section class="mt-3">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="card shadow-lg">
                    <div class="card-header bg-dark text-white">
                        <h1 *ngIf=isLoggedIn>Welcome user</h1>
                        <h1 *ngIf=!isLoggedIn>Thank you</h1>
                        <button *ngIf=!isLoggedIn (click)="setIsLoggedIn(true)" class="btn btn-primary">Login</button>
                        <button *ngIf=isLoggedIn (click)="setIsLoggedIn(false)"class="btn btn-success">Logout</button>
                    </div>
                    <div class="card-body">
                    
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>