<section>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        <p class="h3">Change Username (Auto)</p>
                    </div>
                    <div class="card-body">
                        <form>
                            <input type="text" name="x" [(ngModel)]="username" class="form-control">
                            <h3>{{username}}</h3>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>